{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Gift Recommendation System</title>
    <link rel="stylesheet" href="{% static 'static/styles.css' %}" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'static/assets/logo.png' %}"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <script>
      var gotoURl = "-";
      window.setInterval(function () {
        var username = document.getElementById("target").value;
        if (username != "") {
          $.ajax({
            url: "scripts/ajax/validate_username/",
            data: {
              username: username,
            },
            dataType: "json",
            success: function (data) {
              for (var ids in data) {
                if (data[ids] == null) continue;
                if (data[ids] == "1")
                  document.getElementById(ids.toString()).innerHTML = "✔ ✔ ✔ ✔";
                else if (ids.toString() != "a10")
                  document.getElementById(ids.toString()).innerHTML =
                    "Processing"
                if (ids.toString() == "a10" && gotoURl == "-") {
                  document.getElementById(ids.toString()).innerHTML = data[ids];
                  gotoURl = data[ids];
                  window.open(gotoURl);
                }
              }
            },
          });
        }
      }, 25000);
    </script>
    <div class="main-body">
      <div class="logo">
        <img src="{% static 'static/assets/logo.png' %}" />
      </div>
      <div class="tagline-class">
        The Perfect Gift <br />is just a click away!
      </div>
      <form class="formdiv" method="post">
        {% csrf_token %}
        <fieldset class="fieldset">
          <legend>Enter Instagram Credentials:</legend>
          <label for="username" class="label-text">Username:</label><br />
          {{form.username}}<br />
          <label for="password" class="label-text">Password:</label><br />
          {{form.ps}}<br /><br />
          <label for="username" class="label-text">Target Username:</label
          ><br />
          {{form.Target}}<br />
          {{form.geeks_field}}<br/>
          <div id="see">
            <label for="username" class="label-text">Maximum Price</label><br />
            {{form.maxP}}<br />
            <label for="username" class="label-text">Minimum Price</label><br />
            {{form.minP}}<br />
          </div>
          <input type="submit" class="button-submit" value="Get Gifts" />
        </fieldset>
      </form>
    </div>
    <script src="{% static 'static/js/three.r119.min.js' %}"></script>
    <script src="{% static 'static/js/vanta.birds.min.js' %}"></script>
    <script>
      VANTA.BIRDS({
        el: "*",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.0,
        minWidth: 200.0,
        scale: 1.0,
        scaleMobile: 1.0,
        backgroundColor: "#3b2d4e",
      });
    </script>
    <script
      rel="javascript"
      type="text/javascript"
      href="js/jquery-1.11.3.min.js"
    ></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <div id="statusGet">

      <label for="username" class="label-text">Progress will be traced below:-</label><br/>
      <p id="a1" class="status">⏰</p>
      <p id="a2" class="status"></p>
      <p id="a3" class="status"></p>
      <p id="a4" class="status"></p>
      <p id="a5" class="status"></p>
      <p id="a6" class="status"></p>
      <p id="a7" class="status"></p>
      <p id="a8" class="status"></p>
      <p id="a9" class="status"></p>
      <p id="a10" class="status"></p>
      <br/><br/><br/><br/><br/>
      <br/><br/><br/><br/><br/>
      <br/><br/><br/><br/><br/>
      <br/><br/><br/><br/><br/>
    </div>
  </body>
</html>
