{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gift Recommendation System</title>
    <link rel="stylesheet" href="{% static 'static/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="assets/logo.png">
</head>
<body>
    <div class="logo" ><img src="{% static 'static/assets/logo.png' %}"></div>
    
    <form class="formdiv" method="post">
        {% csrf_token %}
        <fieldset class="fieldset">
            <legend>Enter your Instagram Credentials:</legend>
        <label for="username" class="label-text">Username:</label><br>
        {{form.username}}<br>
        <label for="password" class="label-text">Password:</label><br>
        {{form.ps}}<br><br>
        <label for="username" class="label-text">Target Username:</label><br>
        {{form.Target}}<br>
        <input type="submit" class="button-submit"value="Next">
        </fieldset>
    </form>
    
    <script src="{% static 'static/js/three.r119.min.js' %}"></script>
    <script src="{% static 'static/js/vanta.birds.min.js' %}"></script>
    <script>
    VANTA.BIRDS({
      el: "*",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 200.00,
      minWidth: 200.00,
      scale: 1.00,
      scaleMobile: 1.00,
      backgroundColor: "#3b2d4e"
    })
    </script>
</body>
</html>