{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gift Recommendation System</title>
    <link rel="stylesheet" href="{% static 'static/styles.css' %}" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'static/assets/logo.png' %}"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <script>
      window.setInterval(function () {
        var username = document.getElementById("target").value;
        if (username != "") {
          $.ajax({
            url: "scripts/ajax/validate_username/",
            data: {
              username: username,
            },
            dataType: "json",
            success: function (data) {
              for (var ids in data) {
                if (data[ids] == null) continue;
                if (data[ids] == "1")
                  document.getElementById(ids.toString()).innerHTML = "Done";
                else if (data[ids] == "0")
                  document.getElementById(ids.toString()).innerHTML = "Failed";
                else
                  document.getElementById(ids.toString()).innerHTML =
                    "Processing";
              }
            },
          });
        }
      }, 5000);
    </script>
    <div class="main-body">
      <div class="logo">
        <img src="{% static 'static/assets/logo.png' %}" />
      </div>
      <div class="tagline-class">
        The Perfect Gift <br />is just a click away!
      </div>
      <form class="formdiv" method="post">
        {% csrf_token %}
        <fieldset class="fieldset">
          <legend>Enter Instagram Credentials:</legend>
          <label for="username" class="label-text">Username:</label><br />
          {{form.username}}<br />
          <label for="password" class="label-text">Password:</label><br />
          {{form.ps}}<br /><br />
          <label for="username" class="label-text">Target Username:</label
          ><br />
          {{form.Target}}<br />
          <input type="submit" class="button-submit" value="Get Gifts" />
        </fieldset>
      </form>
    </div>
    <div>
      <p id="a1">Mark1</p>
      <p id="a2">Mark2</p>
      <p id="a3">Mark3</p>
      <p id="a4"></p>
      <p id="a5"></p>
      <p id="a6"></p>
      <p id="a7"></p>
      <p id="a8"></p>
      <p id="a9"></p>
      <p id="a10"></p>
    </div>
    <script src="{% static 'static/js/three.r119.min.js' %}"></script>
    <script src="{% static 'static/js/vanta.birds.min.js' %}"></script>
    <script>
      VANTA.BIRDS({
        el: "*",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.0,
        minWidth: 200.0,
        scale: 1.0,
        scaleMobile: 1.0,
        backgroundColor: "#3b2d4e",
      });
    </script>
    <script
      rel="javascript"
      type="text/javascript"
      href="js/jquery-1.11.3.min.js"
    ></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </body>
</html>
