body {
  height: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-size:auto;
  background-repeat: no-repeat;
  background-color: #3b2d4e;
  overflow-x: hidden;
  opacity: 10;
}

.logo {
  height: 150px;
  width: 150px;
  margin-top: 0.5%;
  margin: 1%;
  position: absolute;
  top: 0%;
  left: 10%;
  z-index: -20;
}
.tagline-class {
  position: absolute;
  font-family: "Dancing Script", cursive;
  font-size: 3.5rem;
  color: #fd557d;
  background-color: transparent;
  z-index: 100;
  height: auto;
  width: auto;
  left: 10%;
  top: 40%;
  text-shadow: 0.2rem 0.2rem #fac25c;
}
#statusGet{
  position: absolute;
  left: 3%;
  top: 66%;
}
.status{
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  color: #fd557d;
  background-color: transparent;
  height: auto;
  width: auto;
}
.formdiv {
  position: absolute;
  top: 15%;
  right: 20%;
  height: auto;
  width: 400px;
  background-color: transparent;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
}
form {
  display: inline-block;
  text-align: center;
}
.fieldset {
  color: #fac25c;
  font-size: 1.5rem;
  border-color: #fac25c;
  font-weight: bold;
}
.label-text {
  color: #fd557d;
  font-size: 1.5rem;
  font-weight: bold;
}
.input-text {
  height: 35px;
  width: 200px;
  margin: 1%;
  background-color: #fce49c;
  border-color: #fb879d;
  font-weight: bold;
  border-width: 5px;
  /* box-shadow:#fb879d; */
  clip-path: polygon(10% 0, 100% 0, 100% 65%, 90% 100%, 0 100%, 0 33%);
}
.button-submit {
  height: 50px;
  width: 200px;
  clip-path: polygon(10% 0, 100% 0, 100% 65%, 90% 100%, 0 100%, 0 33%);
  background-color: #ce4e6e;
  color: #fac25c;
  font-size: 25px;
  margin-top: 4%;
}
.button-submit:hover {
  cursor: pointer;
  transform: scale(1.08);
}
